/* Global */
body{
    background:  linear-gradient(135deg, #020617 0%, #0f172a 100%);
    /* Reglas nuevas */
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

/* Nueva clase debajo del body para activar la animacion  */
body.interfaz-lista {
    opacity: 1;
}

